/*-- scss:defaults --*/

/* Color overrides */
$backgroundColor: #ffffff;
$mainColor: #1a1a1a;
$headingColor: #00205b;
$linkColor: #00509e;

/* Fonts */
$mainFont: "Source Sans Pro", Helvetica, sans-serif;
$headingFont: "Source Sans Pro", Helvetica, sans-serif;


/*-- scss:rules --*/

/* Headings */
.reveal h1,
.reveal h2,
.reveal h3 {
  font-weight: 600;
  color: $headingColor;
}

/* Links */
.reveal a {
  color: $linkColor;
}

/* Footer */
.reveal .footer {
  font-size: 0.7em;
  opacity: 0.8;
}
